/node_modules

*.log
npm-debug.log*

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode-test

[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]*.un~

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.vscode/*.code-snippets